# åºç¨æå¡ WEB è®¿é®ç«¯å£
server.port=8080
# THYMELEAF (ThymeleafAutoConfiguration)
# å¼å¯æ¨¡æ¿ç¼å­ï¼é»è®¤å¼ï¼ true ï¼
spring.thymeleaf.cache=true
# æ£æ¥æ¨¡æ¿æ¯å¦å­å¨ï¼ç¶åååç°
spring.thymeleaf.check-template=true
# æ£æ¥æ¨¡æ¿ä½ç½®æ¯å¦æ­£ç¡®ï¼é»è®¤å¼ :true ï¼
spring.thymeleaf.check-template-location=true
#Content-Type çå¼ï¼é»è®¤å¼ï¼ text/html ï¼
spring.thymeleaf.content-type=text/html
# å¼å¯ MVC Thymeleaf è§å¾è§£æï¼é»è®¤å¼ï¼ true ï¼
spring.thymeleaf.enabled=true
# æ¨¡æ¿ç¼ç 
spring.thymeleaf.encoding=UTF-8
# è¦è¢«æé¤å¨è§£æä¹å¤çè§å¾åç§°åè¡¨ï¼â½¤éå·åé
spring.thymeleaf.excluded-view-names=
# è¦è¿â½¤äºæ¨¡æ¿ä¹ä¸çæ¨¡æ¿æ¨¡å¼ãå¦â» StandardTemplate-ModeHandlers( é»è®¤å¼ï¼ HTML5)
spring.thymeleaf.mode=HTML5
# å¨æå»º URL æ¶æ·»å å°è§å¾åç§°åçåç¼ï¼é»è®¤å¼ï¼ classpath:/templates/ ï¼
spring.thymeleaf.prefix=classpath:/templates/
# å¨æå»º URL æ¶æ·»å å°è§å¾åç§°åçåç¼ï¼é»è®¤å¼ï¼ .html ï¼
spring.thymeleaf.suffix=.html
